.wrapper {
  width: 100%;
}

.viewport {
  overflow: hidden;
  flex: 1;
}

.container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.nextAndPrevButt {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--card-bg);
  border: 0.25rem solid var(--border-color);
  color: var(--border-color);
}

.nextAndPrevButt:hover {
  transform: translateY(-1px);
}

.dotsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start; 
}

.buttonsContainer {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: flex-end; 
  margin-top: 0.8rem;
}

.slideDots {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid var(--border-color);
  background-color: transparent;
  padding: 0;
  transition: all 0.25s ease;
}

.slideDots:hover {
  background-color: var(--border-color);
}

.highlightedDot {
  background-color: var(--border-color);
}

.carouselControls {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}