.slideWrapper {
  box-sizing: border-box;
  flex: 0 0 60%;
  min-width: 0;
  margin-inline: 0.5rem;
  display: flex;
  justify-content: center;
}

.slideInner {
  display: flex;
  align-items: center;
  gap: 2rem;
  align-items: center;
  background-color: var(--card-bg);
  border: 0.5rem solid var(--border-color);
  border-radius: 2rem;
  padding: 2rem;
  transition: transform 0.6s ease, filter 0.3s ease;
}

.slideDimmed {
  filter: blur(1.5px);
  transform: scale(0.85);
}

.imageContainer {
  flex: 0 0 40%;
  aspect-ratio: 1200/1250;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.title {
  margin: 0;
  font-size: 1.3rem;
  text-align: left;
}

.description {
  margin: 0;
  text-align: left;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.6rem;
  margin-bottom: 0rem;
}

.tags span {
  padding: 0.3rem;
  background-color: var(--tag-bg);
  color: #2D2D2D;
  border-radius: 999px;
  font-size: 0.8rem;
  font-weight: 500;
  transition: transform 0.08s ease;
}

.tags span:hover {
  transform: scale(1.05);
}


.actions {
  display: flex;
  justify-content: flex-start;
  gap: 0.6rem;
  margin-top: auto;
}

.actions a {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
  padding: 0.6rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.gitHubButton {
  background-color: var(--button-primary-bg);
  border: none;
  color: white;
}

.gitHubButton:hover {
  background-color: var(--button-primary-hover);
}

.demoButton {
  background-color: white;
  border: 2px solid var(--button-primary-bg);
  color: var(--button-primary-bg);
}

.demoButton:hover {
  background-color: var(--button-secondary-hover);
}

@media(max-width: 768px) {
  .slideWrapper {
    flex: 0 0 97%;
  }

  .slideDimmed {
    filter: none; 
    transform: none; 
  }

  .slideInner {
    flex-direction: column;
    padding: 1.5rem;
  }

  .imageContainer {
    flex: none;
    width: 100%;
    max-width: 15rem;
  }

  .content {
    align-items: center;
    gap: 0.5rem; 
  }

  .title {
    text-align: center;
    font-size: 1.1rem; 
  }

  .description {
    text-align: center;
  }

  .tags {
    justify-content: center;
  }

}

@media(max-width: 480px) {
  .slideInner {
    border-width: 0.4rem; 
  }

}
