.navBar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.link {
    color: var(--text-secondary);
    padding: 0.4rem 0.7rem 0 0.7rem;
    text-decoration: none;
    font-family: var(--font-primary);
    transition: all 0.4s ease;
    font-size: 1.05rem;
    background-color: transparent;
    border: none;
}

.link:hover{
    color: var(--navlink-hover); 
    text-decoration: underline; 
}

.active {
    color: var(--navlink-hover); 
    text-decoration: underline; 
}

.linksGroup {
    margin: 1rem;
}

.contact {
    margin: 0.8rem;
    font-size: 1.5rem;
    justify-content: space-between;
}

.contact i {
    padding: 0.5rem;
    color: var(--text-primary);
}