.navBar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}


.link {
    color: var(--text-secondary);
    padding: 1.2rem 0 0 2rem;
    text-decoration: none;
    font-family: var(--font-primary);
    transition: all 0.4s ease;
    font-size: 1.05rem;
    background-color: transparent;
    border: none;
}


.link:hover {
    color: var(--navlink-hover);
    text-decoration: underline;
}

.active {
    color: var(--navlink-hover);
    text-decoration: underline;
}



.contact {
    margin: 0.8rem;
    font-size: 1.5rem;
    justify-content: space-between;
}

.contact i {
    padding: 0.5rem;
    color: var(--text-primary);
}

@media(max-width: 414px) {
    .link {
        padding: 0.5rem;
        font-size: 1rem;
    }

    .contact {
        margin: 0rem;
    }

    .contact i {
        padding: 0.2rem; 
        font-size: 1.1rem; 
    }

}