.textContainer {
    background-color:  #FFFFFF;
    border: 1rem solid var(--border-color);
    font-size: 1.5rem; 
    text-align: left; 
    width: 30%; 
    border-radius: 1rem; 
    line-height: 3rem; 
    padding: 3rem; 
}

.contactLink {
    color: var(--text-secondary);
}

.contactLink:hover {
    color: var(--link-hover);
}