:root {
  --bg-main: #FAF7F8;
  --bg-secondary: #F3E6E8;

  --text-primary: #2D2D2D;
  --text-secondary: #5A5A5A;

  --buttons-bg: #E8B4B8;
  --buttons-text: #2D2D2D;
  --buttons-hover: #DFA3A8;

  --font-headings: "DM Serif Display", serif;
  --font-primary: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  text-align: center;
  font-family: var(--font-primary);
  color: var(--text-secondary);
}

#homeSection {
  background: radial-gradient(circle at center,
      #EAD7DA 0%,
      #F3E6E8 35%,
      #FAF7F8 75%);
}

#aboutSection {
  background-color: white;
}

#projectSection {
  background-color: var(--bg-main);
}

h1,
h2 {
  font-family: var(--font-headings);
  color: var(--text-primary)
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a, 
button {
 cursor: pointer; 
}