:root {
  --bg-main: #FAF7F8;
  --bg-secondary: #F3E6E8;

  --text-primary: #2D2D2D;
  --text-secondary: #5A5A5A;

  --buttons-bg: #E8B4B8;
  --buttons-text: #2D2D2D;
  --buttons-hover: #DFA3A8;

  --font-headings: "DM Serif Display", serif;
  --font-primary: "Inter", sans-serif;

  --link: #C08497; 
  --link-hover: #A86F84
}

body {
  margin: 0;
  text-align: center;
  background-color: var(--bg-main);
  font-family: var(--font-primary); 
  color: var(--text-secondary); 
}

h1, h2 {
  font-family: var(--font-headings); 
  color: var(--text-primary)
}

section {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  color:var(--link)
}

a:hover {
  color: var(--link-hover)
}