:root {
  --text-primary: #4a3f3f;
  --text-secondary: #5c4f4f;

  --primary-bg: #f3dfe6;
  --card-bg: #fff9f6;

  --border-color: #e0bfc9;

  --button-primary-bg: #d6a5b3;
  --button-primary-hover: #c48f9e;
  --button-secondary-hover: #f3e6ea;

  --font-headings: "Nunito", sans-serif;
  --font-primary: "Lato", sans-serif;

  --tag-bg: #d2c3bd;

  --primary-title-size: 4.5rem;
  --secondary-title-size: 3.5rem;

  --about-link-color: #b86b7c;
  --about-link-hover: #944d5a;
  --navlink-hover: #7a5c6e;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0; 
  position: relative;
  text-align: center;
  font-family: var(--font-primary);
  color: var(--text-secondary);
}

#homeSection {
  /* top wave: e0bfc9
  bottom wave: f3dfe6
  background: f2e9e4 */
  background-image: url("./assets/layeredWaves.svg");
  background-position: center;
  background-size: cover;
}


h1 {
  font-size: var(--primary-title-size);
}

h2 {
  font-size: var(--secondary-title-size);
}

h1,
h2,
h3 {
  font-family: var(--font-headings);
  color: var(--text-primary);
}

section {
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  box-sizing: border-box;
  gap: 1rem;
}

a,
button,
i {
  cursor: pointer;
}


@media(max-width: 480px) {
  h1 {
    font-size: 4.5rem; 
  } 
  section {
    gap: 0.5rem; 
  }

}
